In [4]:
 #!pip install psycopg2 sqlalchemy pandas

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# PostgreSQL Connection URL
DATABASE_URL = "postgresql://postgres:mary1956@localhost:5432/cc"

# Create an SQLAlchemy engine
engine = create_engine(DATABASE_URL, echo=False)

In [7]:
query = "SELECT * FROM customers"
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df.head())

   customer_id customer_name    reg_date
0            1   Arjun Mehta  2023-03-10
1            2  Priya Sharma  2023-04-15
2            3  Vikram Singh  2023-05-01
3            4    Ritu Patel  2023-06-05
4            5    Aman Gupta  2023-07-12

# Top 5 Most Frequently Ordered Dishes

In [8]:
query = ("SELECT count(order_item) as ordered , order_item from public.orders, public.customers where public.orders.customer_id=public.customers.customer_id group by order_item   order by ordered desc limit 5;")

top_5 = pd.read_sql(query, engine)

# Display the DataFrame
print(top_5.head())

   ordered            order_item
0      754       Chicken Biryani
1      751  Paneer Butter Masala
2      729         Pasta Alfredo
3      728           Masala Dosa
4      718     Mutton Rogan Josh

# Q2. Popular Time Slots

## Question: Identify the time slots during which the most orders are placed, based on 2-hour intervals.

In [10]:
query = ("SELECT date_trunc ('hour', order_time) +  interval '1 hour' *( extract (hour from order_time)/2) as time_slot ,count(*) as total_orders from public.orders group by time_slot  order by total_orders desc ;")

timeslot = pd.read_sql(query, engine)

# Display the DataFrame
timeslot

         time_slot  total_orders
0  0 days 21:00:00           596
1  1 days 04:30:00           596
2  0 days 22:30:00           592
3  1 days 09:00:00           591
4  0 days 16:30:00           561
5  1 days 01:30:00           560
6  0 days 18:00:00           558
7  0 days 19:30:00           557
8  0 days 10:30:00           553
9  1 days 06:00:00           551
10 0 days 15:00:00           546
11 1 days 03:00:00           540
12 0 days 13:30:00           539
13 1 days 07:30:00           538
14 0 days 12:00:00           537
15 1 days 10:30:00           532
16 0 days 09:00:00           521
17 1 days 00:00:00           520
18 0 days 00:00:00            12

# Q3. Order Value Analysis
### Question: Find the average order value (AOV) per customer who has placed more than 750 orders.return: `customer_name`, `aov (average order value`).

In [15]:
query = ("SELECT c.customer_name,	AVG(o.total_amount) as aov FROM orders as o 	JOIN customers as c ON c.customer_id = o.customer_id GROUP BY 1 HAVING  COUNT(order_id) > 750")
aov_analysis= pd.read_sql(query,engine)
aov_analysis

  customer_name         aov
0    Aman Gupta  333.318653
1   Rahul Verma  339.060802
2   Sneha Desai  333.577447

In [9]:
engine.dispose()